@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./Lato/Lato-Regular.ttf);
}
body{
    background-color: #fae6ff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0px auto;
}
table{
    border-collapse: collapse;
}
img{
    width: 300px;
    height: 100px;
}
input{
    width: 400px;
    height: 30px;

}
#white{
    background-color: white;
}
#purple{
    background-color: #891c98;
    color: white;
    height: 100px;
}
a:link{
    color: #4a3193;
}
:visited{
    color: #4a3193;
}
button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: #800080;
    color: white;
}
button:hover{
    color: white;
    background-color: #4a3193;
}