@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./Lato/Lato-Regular.ttf);
}
body{
    background-color: #fae6ff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.sign{
    background-color: #8c1b99 ;
    color: white;
}
#form{
    background-color: white;
}
img{
    width: 150px;
    height: 40px;
}
input{
    width: 300px;
    height: 30px;

}
select{
    width: 300px;
    height: 30px;
}
#white{
    background-color: white;
}
#purple{
    background-color: #891c98;
    color: white;
    height: 100px;
}
a:link{
    color: #4a3193;
}
:visited{
    color: #4a3193;
}
#submit{
    height: 50px;
    width: 100px;
    font-family: 'Lato', sans-serif;
    background-color:#8c1b99 #4a3193 ;
}
#passport{
    font-size: 10px;
    text-align: left;
    text-indent: 50px;
}
#check{
    text-indent: 50px;
height: 15px;
width: 15px;

}